## Table 1: Descriptive Statistics

## DHS Educational Attainment and Health Insurance Data Exploration

## By John Adeleke

In [1]:
use dhswomenrecode_nigeria.dta, clear

In [2]:
codebook

-------------------------------------------------------------------------------
v013                                                       age in 5-year groups
-------------------------------------------------------------------------------

                  Type: Numeric (byte)
                 Label: V013

                 Range: [1,7]                         Units: 1
         Unique values: 7                         Missing .: 0/41,821

            Tabulation: Freq.   Numeric  Label
                        8,423         1  15-19
                        6,844         2  20-24
                        7,203         3  25-29
                        5,997         4  30-34
                        5,406         5  35-39
                        4,057         6  40-44
                        3,891         7  45-49

-------------------------------------------------------------------------------
v025                                                 type of place of residence
-------------------------------------------------------------------------------

                  Type: Numeric (byte)
                 Label: V025

                 Range: [1,2]                         Units: 1
         Unique values: 2                         Missing .: 0/41,821

            Tabulation: Freq.   Numeric  Label
                       16,984         1  urban
                       24,837         2  rural

-------------------------------------------------------------------------------
v106                                                  highest educational level
-------------------------------------------------------------------------------

                  Type: Numeric (byte)
                 Label: V106

                 Range: [0,3]                         Units: 1
         Unique values: 4                         Missing .: 0/41,821

            Tabulation: Freq.   Numeric  Label
                       14,398         0  no education
                        6,383         1  primary
                       16,698         2  secondary
                        4,342         3  higher

-------------------------------------------------------------------------------
v394                                     visited health facility last 12 months
-------------------------------------------------------------------------------

                  Type: Numeric (byte)
                 Label: V394

                 Range: [0,1]                         Units: 1
         Unique values: 2                         Missing .: 0/41,821

            Tabulation: Freq.   Numeric  Label
                       25,259         0  no
                       16,562         1  yes

-------------------------------------------------------------------------------
v481                                                covered by health insurance
-------------------------------------------------------------------------------

                  Type: Numeric (byte)
                 Label: V481

                 Range: [0,1]                         Units: 1
         Unique values: 2                         Missing .: 0/41,821

            Tabulation: Freq.   Numeric  Label
                       40,704         0  no
                        1,117         1  yes

## Renaming my variables of interest for easy identification

In [3]:
rename v106 education

In [4]:
rename v013 age

In [5]:
rename v025 residence

In [6]:
rename v394 health_utilization

In [7]:
rename v481 health_insurance

In [10]:
save dhswomenrecode_nigeria.dta, replace

file dhswomenrecode_nigeria.dta saved

include identifier variable